body {
    margin:0;
    padding:0;
}

#first-poem, h1, h2, #second-poem, #fourth-poem, #fifth-poem {
margin-left: 20px;
margin-right: 20px;
}

#first-poem {
    /* width: 150px;
    height: 80px;
    background-color: yellow;
    -ms-transform: skewY(20deg); /* IE 9 */
    /* transform: skewY(20deg);  */
    text-shadow: 10px 10px rgb(255, 240, 34);
    text-decoration: underline;
    text-transform: capitalize;
    color: brown;
}

#second-poem {
    transform: scale(1, -1);
    font-size: large;
    font-weight: 900;
    width: 50px;
    background-color: aquamarine;
    color: blueviolet;
}

#third-poem {
    background-color: black;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#fourth-poem {
    text-align: right;
    font-family: 'Asset', cursive;
    color: gold;
    text-decoration: line-through;
}