body {
    margin: 0px;
}

p {
    /* font-size: 999px; */
position: absolute;
top: 20px;
    color: white;
    font-family: cursive;
    /* background-color: aliceblue; */
    width: 100%;
    text-align: center;
    font-size: 30px;
}

#c {
    opacity: 50%;
    position: absolute;
}

div {
    width: 80vw;
    margin: 0 auto;
    height:10vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    padding: 1rem;
}