body {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    background-color: black;
}

#main-img {
    width: 1296px;
    /* to center  */
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    opacity: 30%;
}

/* puzzle   */

.ref_imgWrap {
    max-width: 200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 1em;
    position: relative;
}

.ref_imgWrap img {
    max-width: 100%;
    float: left;
    height: auto;
}

.contRofl_clr, .wrap {
    width: 100%;
    float: left;
}

.restartPuzzleWrap {
    width: 100%;
    float: left;
    text-align: center;
    padding: 1em 0;
}

.restart_puzzleX999 {
    padding: 1.6em;
    display: inline-block;
    background: orange;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
    border-radius: 2px;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}

.snappuzzle-piece {
    -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    -moz-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
    box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.35);
}

/* required snapPuzzle styles */

/* area where puzzle and background image are kept. Is full width of body*/
.puzzleX999_paddedWrap {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    
}

/* Change width to change puzzle size*/
.puzzleX999_imgWrap {
    width: 1296px;
    /* padding: 5%; */
    padding-top: 0;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
    background-color: red;
}

/* is the background image  */
.puzzleX999_imgWrap img {
    width: 100%;
    float: left;
    height: auto;
    
}

/* is what makes the puzzle a puzzle and not just image  */
.puzzleX999_relWrap {
    position: relative;
    display: block;
    max-width: 5px;
    float: left;
    
}

/* change height to allow pieces more space 
is unnecessary
 */
#puzzleX999_Main {
    width: 100%;
    float: left;
    height: 500px;
}

/* positions background image and pieces  */
.snappuzzle-wrap {
    position: relative;
    display: block;
    
}

/*snappuzzle-pile { position: relative; }*/

.snappuzzle-piece {
    cursor: move;
}

.snappuzzle-slot {
    position: absolute;
    background: rgb(0, 0, 0);
    opacity: 75%;
}

.snappuzzle-slot-hover {
    background: rgb(73, 73, 73);
}