/* spaces 
between blocks :  3vh; 
top of page: 3vh */

/* universal styles  */

@font-face {
    font-family: Niconne;
    src: url(./assets/fonts/Niconne/Niconne-Regular.ttf);
}

@font-face {
    font-family: EB-Garamond;
    src: url(./assets/fonts/EB_Garamond/static/EBGaramond-Regular.ttf);
}

/* * {
    margin: 0;
    padding: 0;
} */

html, body {
    height: 100vh;
    background-color: #E9FFFD;
    font-family: EB-Garamond;
    margin: 0px;
    padding: 0px;
}

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

/* section::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 80%;
} */

.contents {
    padding-top: 3vh;
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: Niconne;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    /* line-height: 1em; */
    text-align: center;
    color: #DA2B3A;
}

h2 {
    font-family: Niconne;
    font-size: 3vw;
    text-align: center;
    color: #000000;
    margin-bottom: 3vh;
}

h3 {
    font-size: 1.7vw;
    text-align: center;
    color: #DA2B3A;
    /* margin: 3vh 3vh; */
}

.demo a {
    position: absolute;
    bottom: 1vh;
    left: 50vw;
    /* background-color: #DA2B3A; */
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    /* font: normal 400 20px/1 'Josefin Sans', sans-serif; */
    /* letter-spacing: .1em; */
    /* text-decoration: none; */
    transition: opacity .3s;
}

.demo a:hover {
    opacity: .5;
}

section a {
    padding-top: 4vh;
}

section a span {
    /* background-color: #DA2B3A; */
    position: absolute;
    top: 0;
    /* left: 0vw; */
    width: 1.7vw;
    height: 1.7vw;
    /* margin-left: -12px; */
    border-left: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
}

/* section 1  */

#section01 {
    background: url(assets/images/sunny.jpg) center center / cover no-repeat;
}

#section01 h3 {
    /* margin: 5% 5%;s */
}

#right_text {
    margin-left: 60vw;
    font-family: Niconne;
    font-size: 1.7vw;
    text-align: center;
    color: #F15CAE;
}

/* section 2   */

#first_grid {
    display: grid;
    /* grid-template-columns: repeat(3, 33%); */
    grid-template-rows: 1.3fr 1.3fr 1fr;
    /* height: 100%; */
    row-gap: 3vh;
}

.post {
    background-color: #F2CB04;
    text-align: center;
    border-radius: 15px;
}

.more_button {
    /* position: absolute; */
    /* left: 36.68%;
    right: 36.94%;
    top: 76.02%;
    bottom: 8.77%; */
    background: #F15CAE;
    width: 15vw;
    height: 5vh;
    border: none;
    margin: 3vh 3vh;
    /* background: #936C43; */
    /* box-shadow: 0px 4px 4px #F15CAE; */
    transition: 1s;
    /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
    /* font  */
    /* font-style: normal;
    font-weight: normal; */
    /* font-size: 14px;
    line-height: 18px; */
    /* text-align: center;
    color: #000000; */
}

.more_button:hover {
    transform: scale(1.2);
}

#flowers {
    display: grid;
    grid-template-columns: 70% 30%;
    height: 100%;
    /* row-gap: 2%; */
}

#flower-images {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    height: 100%;
    /* row-gap: 2em; */
}

.flower-img {
    height: 10em;
    /* height: 10%; */
}

/* section 3  */

#top-text {
    /* background-color: #DA2B3A; */
    text-align: center;
    line-height: 1vh;
}

#weird {
    font-family: Niconne;
}

#p1, #p2 {
    font-size: 1.7vw;
}

#p1 {
    font-family: Niconne;
}

#h33 {
    padding-top: 3vh;
    /* background-color: #DA2B3A; */
}

#images3 {
    /* background-color: #DA2B3A; */
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
    /* align-items: center;x */
}

#witch {
    position: absolute;
    /* width: 24w; */
    height: 15vh;
    left: 75vw;
    top: 75vh;
    display: none;
    /* background: url(102-1024482_halloween-witch-2-little-book-of-mother-in.png); */
}

#girl {
    /* position: absolute; */
    width: 300px;
    height: 200.11px;
    /* mix-blend-mode: difference; */
    /* left: 57px;
    top: 1948px; */
    /* background: url(pale-606.png); */
}

/* fourth section  */

.white-text {
    color: white;
}

#invite {
    /* position: absolute;
    width: 379px;
    height: 217px;
    left: 18px;
    top: 2326px; */
    background: #DA2B3A;
    border-radius: 15px;
    color: white;
    text-align: center;
    padding: 1%;
}

#mice {
    margin-top: 3vh;
    display: flex;
}

.mouse {
    position: absolute;
    width: 4vw;
    height: 4vh;
    animation: linear infinite alternate;
    animation-duration: 1s;
}

#mouse1 {
    animation-name: run1;
}

#mouse2 {
    animation-name: run2;
}

#mouse3 {
    animation-name: run3;
}

#mouse4 {
    animation-name: run4;
}

#mouse5 {
    animation-name: run5;
}

@keyframes run1 {
    0% {
        left: 10vw;
    }
    50% {
        left: 20vw;
    }
    100% {
        left: 10vw;
    }
}

@keyframes run2 {
    0% {
        left: 20vw;
    }
    50% {
        left: 40vw;
    }
    100% {
        left: 20vw;
    }
}

@keyframes run3 {
    0% {
        left: 40vw;
    }
    50% {
        left: 50vw;
    }
    100% {
        left: 40vw;
    }
}

@keyframes run4 {
    0% {
        left: 50vw;
    }
    50% {
        left: 60vw;
    }
    100% {
        left: 50vw;
    }
}

@keyframes run5 {
    0% {
        left: 60vw;
    }
    50% {
        left: 90vw;
    }
    100% {
        left: 60vw;
    }
}

/* fifth section  */

#recipe {
    background: #F25C05;
    border-radius: 15px;
    color: white;
    padding: 1%;
}