body {
  background-color: #FAF7EE;
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  width: 700px;
}

.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  /*margin: 0 auto;  Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

/* The typing effect */

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 700px
  }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: orange;
  }
}

h2 {
  font-family: Courier New;
  font-style: normal;
  font-weight: normal;
}

.rotating_square {
  width: 100px;
  height: 100px;
  animation: roll 3s infinite;
  transform: rotate(30deg);
  opacity: .7;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotating_text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  color: #FAF7EE;
}

.text_divs {
  width: 700px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Courier New;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: #31200C;
}

#icon_section_right {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  justify-items: end;
}

.icons {
  width: 100px;
  height: 100px;
}

#icon_section_left {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.jqueryDiv {
  width: 700px;
  height: 300px;
  background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 30px;
padding: 10px;
/* margin: 0 auto; */
cursor: pointer;
}

#top {
background-color: #FFCA6B;
}

#middle {
  background-color: #BA4C8B;
}
