body {
    background: #940F6E;
}

.dots {
    position: absolute;
    width: 279px;
    height: 3070px;
    top: 150px;
    background: #C4C4C4;
}

#side_left_div {
    left: 0px;
}

#side_right_div {
    left: 1161px;
}

.has_margin {
    margin-bottom: 121px;
}

main {
    width: 50%;
    margin: 0 auto;
}

h1 {
    font-family: SignPainter;
    text-align: center;
    font-size: 64px;
}

#page_title {
    color: #F7F1E0;
}

p {
    font-family: Optima;
    font-style: normal;
    /* font-weight: normal; */
    /* font-size: 30px; */
    line-height: 25px;
    color: #F7F1E0;
}

.jqueryDiv {
    width: 712px;
    height: 88px;
    background-color: #F7F1E0;
    cursor: pointer;
}

.purple_title {
    color: #940F6E;
    padding-top: 15px;
    margin-bottom: 0;
    /* max-width: 50%; */
}

.purple_text {
    color: #940F6E;
    text-align: center;
}

#form {
    position: absolute;
    width: 698px;
    height: 790px;
    left: 371px;
    background: #F7F1E0;
}

.input_area {
    position: absolute;
    width: 578px;
    left: 60px;
    background: #940F6E;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-family: Optima;
    font-style: normal;
    line-height: 25px;
    color: #F7F1E0;
}

#name_area {
    margin-top: 21px;
    height: 73px;
}

#msg_area {
    margin-top: 121px;
    height: 274px;
}

#submit_button {
    position: absolute;
    width: 324px;
    height: 100px;
    left: 180px;
    margin-top: 430px;
    background: #940F6E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#empty_space {
    height: 911px;
}

#form2 {
    position: absolute;
    width: 698px;
    height: 600px;
    left: 371px;
    background: #F7F1E0;
}

#practice {
    margin-top: 900px;
     /* background-color: green; */
     width: vw;
     height: 300px;
}