video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  body {
    margin: 0;
    font-family: Optima;
  }
  
  
  main {
    width: 80vw;
    left: 10%;
    height: 90vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    position: relative;
    padding: 1rem;
  }

  figcaption {
      font-size: 10px;
  }